@charset "UTF-8";
/* CSS Document */
body {
  background-image: url("images/san diego skyline.jpeg");
  /* Picture source: https://www.istockphoto.com/photos/san-diego */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container{
  margin:0 auto;
}
.flex-container{
  display:flex;
  background-color: #424242;
  flex-direction: row;
  align-items: stretch;
}
.flex-container div{
  flex-grow:4;
  background-color: #CECABF;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 25px;
  color: #424242;
}
.flex-container .stacks{
  flex-grow: 4;
  height: 75px;
}
.flex-container .article{
  padding: 60px;
}
.header {
  padding: 80px;
  text-align: center;
  background-position: center;
  background-image: url("images/San Diego logo 2.png");
  background-repeat: no-repeat;
  padding-bottom: 95px;
}
.navbar1 {
  display: flex;
  background-color: #424242;
  color: #4886D9;
}
.navbar1 a {
  color: #4886D9;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat';
}
.navbar1 a:hover {
  background-color: #CECABF;
  color: #64B0F3;
}
.footer{
  text-align: center;
  font-family: 'Montserrat';
}
.siteFooterBar {
	position: relative;
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	height: 60px;
	color: #F3C231;
}
.content {
	display: block;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
  font-family: 'Montserrat';
	font-size: 14px;
    width:200px;
}
.foot {
 display:inline;
    line-height: 60px;
}
.content img {
 height:50px;
    width: 50px;
    float:left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  color: #4886D9;
  padding: 8px 16px;
font-family: 'Montserrat';
font-size: 25px;
text-align: left;
}
li a:hover {
  background-color: #F3C231;
  color: white;
}
h2 {
  font-family: 'Montserrat';
  color: #4886D9;
  text-align: left;
}
.navbar2 {
  display: flex;
  background-color: #424242;
  color: #4886D9;
}
.navbar2 a {
  color: #4886D9;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
}
.navbar2 a:hover {
  background-color: #CECABF;
  color: #64B0F3;
}
img {
  height: 408px;
  width: 612px;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
button {
  background-color: #4886D9;
  padding: 14px 25px;
  text-align: center;
  font-family: 'Montserrat';
  display: inline-flex;
}
a {
  text-decoration: none;
  font-family: 'Montserrat'
}

/* Responsive layout- makes a one column layout instead of a two-column layout */
@media screen and (max-width: 700px) {
  .navbar1, .navbar2 {
    flex-direction: column;
  }
  .navbar1 a {
    flex-direction: column;
  }
  .navbar2 a {
    flex-direction: column;
  }
  img {
  width: 100%;
  height: auto;
}
}

/* Responsive layout- makes a one column layout instead of a two-column layout */
.flex-container {
  flex-direction: column;
}
